body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

.dropdown {
  border: 2px solid #9fa0a4;;
  text-align: center;
  margin: 20px 0px;
  padding: 5px 0px;
  width: 316px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

.dropdownlist{
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 96%;
  left: 4px;
  right: 4px;
  z-index: 5;
  background-color: wheat;
  display: none;
}

.dropdown.active .dropdownlist{
  display:block
}


.button {
  border: 2px solid #9fa0a4;
  text-align: center;
  margin: 20px 0px;
  padding: 5px 0px;
  width: 316px;
  cursor: pointer;
  border-radius: 4px;
}

.toggleWrapper {
  text-align: center;
  margin: 20px 0px;
  padding: 5px 5px;
  width: 310px;
  cursor: pointer;
  background-color: rgb(244, 244, 244);
  display: flex;
  border-radius: 4px
}

.toggleItem {
  width: 50%;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 0px;
}

.toggleItem.active {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
}

input {
  padding: 5px;
  margin-left: 5px;
  flex-grow: 1;
}

#information {
  width: 320px;
}

.infoBox {
  text-align: left;
  margin: 10px 20px;
  padding: 5px 0px;
  width: auto;
  font-weight: 700;
}

.infoBoxSmall {
  text-align: center;
  margin: 10px 0px;
  padding: 5px 0px;
  width: 320px;
}

.title {
  text-align: center;
  font-weight:bold;
  font-size: 29px;
  padding-top: 25px;
  margin-bottom: 15px;
}

#controls {
  margin-top: 10px;
}

label {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

select {
  appearance: none;
  outline: 0;
  background-image: none;
  width: 100%;
  height: 100%;
  padding: 5px 8px;
  color: black;
  cursor: pointer;
  border: 2px solid #9fa0a4;
  border-radius: 4px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
 }

li:hover {
  background-color: white;
}

 /* .dropdown_menu--animated {

 } */ 

 /* trigger rebuild */

#wrap {
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 5px;
}

#wrap img.fake {
  float: left;
  visibility: hidden;
  width: auto;
}

#img_wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#img_wrap img.normal {
  height: 33px;
}

.arrow {
  border: solid black;
  border-width: 0 .8px .8px 0;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 10px;
}

.arrowDaddy {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
}

.arrowDaddy2 {
  cursor: pointer;
  position: absolute;
  left: 25px;
  top: 0px;
  width: 100%;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em - 2px),
    calc(100% - 15px) calc(1em - 2px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
}


.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrowDaddy {
  padding-left: 5px;
}

.button.payment {
  background-color: #3e6ae1;
  color: white;
  border: 0px;
  width: 320px;
}

.payment:hover {
  background-color: #3457b1;
}

.summary {
  text-align: left;
  margin: 35px 20px 0px 20px;
  width: '320px';
}

.summary div {
  height: 23px;
}

.summary div:last-child {
  margin-bottom: 30px;
}

hr {
  margin-top: 25px;
  margin-bottom: 5px;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  padding-top: 5em;
}

.inputContainer {
  width: 100%;
  margin-top: 1em;
  display: flex;
}

.inputContainer label{
  padding-top: 4px;
}

.inputContainerVert {
  width: 100%; 
  display: flex;
  flex-direction: column;
}

.addressInnerWrapper p {
  text-decoration: underline;
}

.closeContainer {
  position: relative;
  width: 30px;
  height: 30px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.subTitle {
  font-weight: bolder;
  font-size: large;
}

.titleSummaryContainer {
  align-self: flex-start;
  padding-top: 25px;
}

.addressOuterWrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.addressInnerWrapper {
  flex: 1 1 0px;
  min-width: 250px;
}

@media (max-width: 1000px) {
  #mainPage {
    flex-direction: column;
  }
  .sideBar {
    align-self: center;
  }
} 