.dropdown {
  border: 2px solid black;
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.button {
  border: 2px solid black;
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.infoBox {
  border: 2px solid black;
  text-align: center;
  margin: 5px;
  padding: 20px;
}

.infoBoxSmall {
  border: 2px solid black;
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.title {
  text-align: center;
  font-weight: 900
}
