body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

.dropdown {
  border: 2px solid #9fa0a4;;
  text-align: center;
  margin: 20px 0px;
  padding: 5px 0px;
  width: 316px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

.dropdownlist{
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 96%;
  left: 4px;
  right: 4px;
  z-index: 5;
  background-color: wheat;
  display: none;
}

.dropdown.active .dropdownlist{
  display:block
}


.button {
  border: 2px solid #9fa0a4;;
  text-align: center;
  margin: 20px 0px;
  padding: 5px 0px;
  width: 316px;
  cursor: pointer;
  border-radius: 4px;
}

.toggleWrapper {
  text-align: center;
  margin: 20px 0px;
  padding: 5px 5px;
  width: 310px;
  cursor: pointer;
  background-color: rgb(244, 244, 244);
  display: flex;
  border-radius: 4px
}

.toggleItem {
  width: 50%;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 0px;
}

.toggleItem.active {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
}

input {
  padding: 5px;
  width: 30px;
  border:0 
}

#information {
  width: 320px;
}

.infoBox {
  text-align: left;
  margin: 10px 20px;
  padding: 5px 0px;
  width: auto;
  font-weight: 700;
}

.infoBoxSmall {
  text-align: center;
  margin: 10px 0px;
  padding: 5px 0px;
  width: 320px;
}

.title {
  text-align: center;
  font-weight:bold;
  font-size: 27px;
  padding-top: 50px;
}

#controls {
  margin-top: 10px;
}

label {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

select {
  appearance: none;
  outline: 0;
  background-image: none;
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  color: black;
  cursor: pointer;
  border: 2px solid #9fa0a4;;
  border-radius: 4px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
 }

li:hover {
  background-color: white;
}

 /* .dropdown_menu--animated {

 } */ 

 /* trigger rebuild */

#wrap {
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 30px;
}

#wrap img.fake {
  float: left;
  visibility: hidden;
  width: auto;
}

#img_wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#img_wrap img.normal {
  height: 33px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.arrowDaddy {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 5px
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em - 2px),
    calc(100% - 15px) calc(1em - 2px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
}


.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrowDaddy {
  padding-left: 5px;
}

.button.payment {
  background-color: #3e6ae1;
  color: white;
  border: 0px;
  width: 320px;
}

.payment:hover {
  background-color: #3457b1;
}
@media (max-width: 1000px) {
  #mainPage {
    flex-direction: column;
  }
} 